@import '~antd/dist/antd.css';
.container {
    width: 50%;
    margin: auto;
    margin-top: 20px;
}

.footer {
    width: 50%;
    margin: auto;
}

.lista {
    position: relative;
}

.potencia {
    color: red;
    position: absolute;
    font-size: 9pt;
    margin-top: -10px;
    margin-left: -6px;
}

.sumas {
    margin-top: 100px;
    display: flex;
}

.plus {
    margin-left: 50px;
}